body {
	position: relative;
}

#nav-profile-img {
	height: 2.5rem;
}

#sort-container {
	position: absolute;
	height: 90vh;
	width: 100vw;
}

.move-list {
	padding-right: 6em;
}
.pokemon-stat-table td {
	padding: 0;
	margin: 0;
}
.pokemon-stat-table tr {
	padding: 0;
	margin: 0;
}

#user-username {
	font-size: 1.5vw;
}

/* xs */
@media only screen and (max-width: 576px) {
	#user-bar {
		position: static;
		width: 100%;
	}
	#user-pokemon-list {
		position: static;
		width: 100%;
	}
	#user-username {
		font-size: 1.9vw;
	}
	.user-info-head {
		font-size: 2.2vw;
	}
	.user-info-body {
		font-size: 1.8vw;
	}
	#user-edit {
		font-size: 5vw;
	}
	#user-bio {
		height: 70%;
	}
	#user-location {
		height: 25%;
	}
}
/* sm */
@media only screen and (min-width: 577px) {
	#user-bar {
		position: fixed;
		width: 50vw;
		height: 90vh;
	}
	#user-pokemon-list {
		position: absolute;
		width: 50%;
	}
	#user-username {
		font-size: 3vw;
	}
	.user-info-head {
		font-size: 2vw;
	}
	.user-info-body {
		font-size: 1.8vw;
	}
}
/* md */
@media only screen and (min-width: 768px) {
	#user-bar {
		width: 25vw;
	}
	#user-pokemon-list {
		width: 75%;
	}
	#user-username {
		font-size: 1.2vw;
	}
	.user-info-head {
		font-size: 1.5vw;
	}
	.user-info-body {
		font-size: 0.7vw;
	}
	#pokemon-1-container {
		height: 70%;
	}
	#pokemon-2-container {
		height: 70%;
	}
	#sort-controller {
		height: 25%;
	}
	#sort-controller-inner {
		height: 100%;
	}
}
@media only screen and (min-width: 992px) {
	#user-edit-spacer {
		height: 50%;
	}
}
@media only screen and (min-width: 1200px) {
	#pokemon-1-container {
		height: 100%;
	}
	#pokemon-2-container {
		height: 100%;
	}
	#sort-controller {
		height: 100%;
	}
	#sort-controller-inner {
		height: 50%;
	}
}
@media only screen and (min-width: 1400px) {
}

html body div #content {
	padding: 0;
	margin: 0;
}

.move-list .list-group-item {
	font-size: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
}
.move-list.list-group-item span {
	text-align: end;
}
