{% extends 'base.html' %}
{% import 'pokemon_macros.html' as pokemon %}

{% block title %} {{user.username}} {% endblock title %}

{% block content %}
<div id="user-bar" class="start-0 bg-secondary rounded p-0 mx-0 my-sm-0 mb-2">
    <div class="row p-2 m-0">
        <div class="py-0 m-0 px-0 col-4 col-sm-12 px-xxl-5">
            <p id="user-username" class='text-center py-sm-1 py-0 mb-1 border border-light rounded'>{{user.username}}</p>
            <div class="mx-auto">
                <img class="img-fluid w-100 p-0 m-0 img-thumbnail bg-info" src='{{user.image_url}}'>
            </div>
        </div>
        <div class="col-sm-12 col-8 px-1" >
            <div id='user-bio' class="mt-sm-2  px-sm-2 pt-1">
                <div class="fw-bolder text-center p-0 m-0 user-info-head">Bio</div>
                <div class="ps-1 text-wrap user-info-body">{{user.bio}}</div>
            </div>
            <div style="height: 5%"></div>
            <div id='user-location' class=" pt-sm-2  px-sm-2 pt-1">
                <div class="fw-bolder text-center p-0 m-0 user-info-head">Location</div>
                <div class="ps-1 text-wrap user-info-body">{{user.location}}</div>
            </div>
        </div>
        <div id="user-edit-spacer" class="col-12"></div>
        {% if g.user.id == user.id %}
        <a id="user-edit" class="btn btn-danger mt-sm-4 mt-2 col-12 align-self-end" href="/users/{{g.user.id}}/edit">Edit User</a>
        {% endif %}
    </div>
</div>
<!-- <div class=" p-0 m-0"> -->
<div class="p-0 m-0">
    <!-- <div id='user-info' class="p-2 col-2 bg-secondary rounded vh-100 "> -->
    <div id="user-pokemon-list" class="row text-center p-0 px-sm-1 px-0 m-0 end-0">
        {% for p in pokemon_list %}
        {% if g.user.id == user.id %}
        <a class='d-inline p-0 m-0 row col-xxl-2 col-lg-3 col-md-4 col-12'
            href="/users/{{g.user.id}}/{{p.pokemon.id}}">
            {{ pokemon.pokemon_card(p, 12, pokemon_list|length) }}
        </a>
        {%else%}
        <div class="d-inline p-0 m-0 row col-xxl-2 col-lg-3 col-md-4 col-12">
            {{ pokemon.pokemon_card(p, 12, pokemon_list|length) }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- </div>
</div> -->
    {% endblock content %}